# Prevent directory surfing/sniffing
Options -Indexes

<IfModule mod_setenvif.c>
  SetEnvIfNoCase User-Agent (sqlmap|wordpress|apachebench|masscan|zgrab|http|go-http-client|python|research|kubectl|curl|ahrefsbot|nmap|engine|yabrowser|sslyze|aihitbot|okhttp|yandex|nimbostratus|seznam|checkmark|scrapy) bad_user_agents

  Order Allow,Deny
  Allow from all
  Deny from env=bad_user_agents
</IfModule>

# Block repeat offenders
Deny from 5.8.10.202
Deny from 5.101.0.209
Deny from 5.188.210.101
Deny from 5.255.174.141
Deny from 14.32.29.69
Deny from 64.227
Deny from 71.6.167.142
Deny from 78.155.218.95
Deny from 80.82.65.187
Deny from 106.13.44.54
Deny from 122.51.44.199
Deny from 151.106.9.1
Deny from 172.105.89.161
Deny from 185.234
Deny from 193.57.40.38
Deny from 211.56.145.140
